*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

#root {
  width: 100%;           /* 부모 너비를 명시적으로 채움 */
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
